body {
    font-family: "Lekton", sans-serif;
}

header {
    padding-left: 1.5em;
}

.container {
    width: 100%;
}

@media (min-width: 900px) {
    .container {
        width: 70%;
        margin: auto;
        margin-bottom: 5em;
    }
}